*{
  padding: 0;
  margin: 0;
}
body{background-color: #ebeef2;}
.clearfix:after{
  display: block;
  clear: both;
  height: 0;
  content: '';
}
.clearfix{*zoom:1;}

#main{
  width: 800px;
  margin: 50px auto;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  color: #333;
}
.row{margin-top: 15px;}
.row label{
  float: left;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  text-align: right;
}
.input-box{display: inline-block;}
.input-box input{
  width: 500px;
  height: 30px;
  padding: 0 15px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.input-box input:focus{
  border-color: #00abe4;
  outline: 0;
}
.button{
  float: right;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 20px 150px 0;
  color: #00abe4;
  background-color: #fff;
  background-image: none;
  border:1px solid #00abe4;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
  margin-right: 50px;
}

/** validation 样式 **/
.valid-error .error-border{
  border: 1px solid #FF5A5A;
}
.valid-error .error-tip{
	padding-top: 10px;
	color: #FF5A5A;
	font-size: 13px;
	margin-bottom: -6px;
}
